#chat-input {
  color: 'inherit';
  background-color: 'none';
  outline: 'none';
  border: 'none';
  flex: 1;
  font-size: 16;
  padding: 20px;
  margin-top: 20px;
}
#container{
  padding: 20;
  border-top: '1px #4C758F solid';
  margin-bottom: 20;
  margin-top: 150px;
}
#btndiv{
  color: 'inherit';
  background-color: 'none';
  outline: 'none';
  border: 'none';
  flex: 1;
  font-size: 16;
  padding: 20px;
}
#button{
  color: #73AD21;
  padding-right: 20px;
  font-size: 100px;
  margin-bottom: 20px;
}
#center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
